<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName() + ' ' +person.getAge()}"></a>
    <button class="editBtn" type="button" th:attr="data-link='link'+${person.getId()}">Edit</button>
    <a th:href="@{/people/{id}/edit(id=${person.getId()})}" hidden th:id="'link'+${person.getId()}"></a>

    <button class="deleteBtn" type="button" th:attr="data-link='delete'+${person.getId()}">Delete</button>
    <form th:action="@{/people/{id}(id=${person.getId()})}" th:method="DELETE" th:id="'delete'+${person.getId()}" name="deleteForm" hidden>

    </form>
<!--    <a th:href="@{/people/{id}/edit(id=${person.getId()})}" hidden  th:id="'link'+${person.getId()}"></a>-->
</div>
<a href="new">Create new Person</a>
<script>
    let editBtns = document.querySelectorAll(".editBtn");
    editBtns.forEach(function(elem) {
        elem.addEventListener("click", (e) => {
            let $this = e.target.dataset.link;
            let link = document.querySelector("#"+$this);
            link.click();
        });
    });
    let deleteBtns = document.querySelectorAll(".deleteBtn");
    deleteBtns.forEach(function(elem) {
        elem.addEventListener("click", (e) => {
            let $this = e.target.dataset.link;
            let link = document.querySelector("#"+$this);
            console.log(link);
            link.submit();
        });
    });
</script>
</body>
</html>